@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import "theme/variables.scss";
@import "theme/normalize.css";
@import "theme/materialui.scss";

@import "theme/components/sidemenu.scss";
@import "theme/components/profile.scss";

html, body, #root, .app {
	height: 100%;
}

.app {
	display: flex;
}

main {
	box-sizing: border-box;
	padding: 110px 60px 0 60px;
	width: 100%;
	background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}