$transition-timing-fast: .25s ease;

$primary-font: "TT Norms", sans-serif;
$secondary-font: "Nunito", sans-serif;

$color-black: #0D1C2E;
$color-grey: #707C97;
$color-gray: #707C97;
$color-lightblue: #2A8BF2;