$transition-timing-fast: .25s ease;

$primary-font: "TT Norms", sans-serif;
$secondary-font: "Nunito", sans-serif;

$color-black: #0D1C2E;
$color-grey: #707C97;
$color-gray: #707C97;
$color-lightblue: #2A8BF2;

$button-blue-background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);

$contentbox-shadow: 0 0 10px rgba(0, 0, 0, .1);