.Profile-Container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 64px;
	row-gap: 20px;
}

.Profile-Main {
	flex-basis: 290px;
}

.Profile-Secondary {
	flex-grow: 1;
}

.Profile-AvatarBox {
	padding: 20px;
	height: 360px;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: $contentbox-shadow;
	border-radius: 15px;
	&__ImageBox {
		width: 250px;
		height: 250px;
		border-radius: inherit;
		overflow: hidden;
		margin: 0 0 20px 0;
	}
	&__Image {
		width: inherit;
		height: inherit;
		object-fit: cover;
	}
	&__UploadButton {
		height: 50px;
		width: 100%;
		background: $button-blue-background;
	}
}

.Profile-InfoBox {
	padding: 20px;
	box-sizing: border-box;
	border-radius: 15px;
	background: #FFFFFF;
	box-shadow: $contentbox-shadow;
	&__FormBox {}
	&__FieldBox {
		display: flex;
		flex-direction: column;
		font-family: $primary-font;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #5F5F6E;
		cursor: default;
		p {
			margin: 13px 0 23px 0;
			font-family: $secondary-font;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		.MuiFormControl-root {
			// margin: 10px 0 20px 0;

		}
	}
}