.sideMenu-Drawer {
	flex-shrink: 0;
	white-space: nowrap;
}

.sideMenu-Open {
	width: 290px;
	transition: width $transition-timing-fast !important;
}

.sideMenu-Closed {
	overflow-x: hidden;
	width: 56px;
	transition: width $transition-timing-fast !important;
}

.MuiListItem-root.sideMenu-ListAvatar {
	flex-direction: column;
	justify-content: center;
}

.MuiAvatar-root.sideMenu-ListAvatar__Avatar {
	width: 86px;
	height: 86px;
}

.sideMenu-ListAvatar__FullName {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.sideMenu-ListAvatar__FullName__Name {
	font-family: "TT Norms";
	font-size: 18px;
	line-height: 21px;
	color: #0D1C2E;
	margin-right: 6px;
}
