.sideMenu-Drawer {
	flex-shrink: 0;
	white-space: nowrap;
}

.sideMenu-Open {
	width: 290px;
	transition: width $transition-timing-fast,
							box-shadow $transition-timing-fast !important;
	box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02) !important;
}

.sideMenu-Closed {
	overflow-x: hidden;
	width: 56px;
	transition: width $transition-timing-fast,
							box-shadow $transition-timing-fast !important;
	.MuiListItem-root.sideMenu-ListItem__Avatar {
		.MuiAvatar-root {
			width: 43px;
			height: 43px;
		}
	}
	.sideMenu-FullName {
		visibility: hidden;
	}
	.sideMenu-ListItem.MuiListItem-gutters {
		padding-left: 16px;
	}
}

.MuiListItem-root.sideMenu-ListItem__Avatar {
	flex-direction: column;
	justify-content: center;
	padding-top: 87px;
	padding-bottom: 76px;
	.MuiAvatar-root {
		width: 86px;
		height: 86px;
		transition: width $transition-timing-fast,
								height $transition-timing-fast;
	}
}

.sideMenu-FullName {
	display: flex;
	align-items: center;
	& > .MuiTypography-root {
		font-family: "TT Norms";
		font-size: 18px;
		line-height: 21px;
		color: #0D1C2E;
		font-weight: 600;
		margin-right: 6px;
	}
	& > .MuiIconButton-root {
		top: 1px;
		color: #0D1C2E;
	}
}

.sideMenu-ListItem {
	height: 40px;
	&.MuiButtonBase-root {
		&:nth-child(n + 2) {
			margin-bottom: 35px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.MuiListItem-button:hover {
		background-color: transparent;
	}
	&.MuiListItem-gutters {
		padding-left: 35px;
	}
	.MuiListItemIcon-root{
		min-width: 24px;
		margin-right: 17px;
		color: #707C97;
	}
	.MuiListItemText-primary {
		font-family: "TT Norms";
		font-size: 16px;
		line-height: 19px;
		font-weight: bold;
		text-transform: uppercase;
		color: #707C97;
	}
}

.sideMenu-Active {
	.MuiListItemIcon-root svg {
		fill: url("#paint0_linear");
	}
	.MuiListItemText-primary {
		color: #2A8BF2;
	}
	&::before {
		content: "";
		position: absolute;
		left: 0;
		height: 100%;
		width: 3px;
		background: #2A8BF2;
		box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45), 0px 0px 10px rgba(42, 139, 242, 0.55), 4px 0px 25px rgba(42, 139, 242, 0.75);
		border-radius: 3px;
	}
}

.sideMenu-Menu {
	top: 6px !important;
	left: -16px !important;
	z-index: 1;
	.MuiPaper-root {
		border-radius: 6px;
		background: #FFF;
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
	}
	.MuiMenuItem-root {
		font-family: "TT Norms";
		font-size: 16px;
		line-height: 19px;
		color: #0D1C2E;
	}
}